@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'nunito';
}

body {
    /*background-image: url(./design/Design\ PC.png);*/
    background-color: #0D121B;
    height: 6160px;
}

header {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    width: 1700px;
    height: 111px;
    margin-left: 130px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: fixed;
    top: 35px;
    border: 1pt solid rgba(255, 255, 255, 0.11);
}

#listaCabecalho {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

.itemListaCabecalho {
    background-color: rgba(255, 255, 255, 0.26);
    width: 145px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: 700;
    color: white;
    transition: ease 0.2s;
}

.itemListaCabecalho:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0D121B;
    cursor: pointer;
    transition: ease 0.2s;
}

.botaoContatoHeader {
    background: linear-gradient(90deg, #4200FF, #9232B0, #E06262);
    width: 233px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-weight: 700;
}

#paginaPrincipal {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 315px;
}

#logo {
    width: 513px;
    height: 218px;
    margin-top: 70px;
    margin-right: 240px;
    margin-left: 50px;
}

#paragrafoApresentacao {
    font-size: 24px;
    width: 576px;
    text-align: center;
    font-weight: 800;
    color: white;
    margin-top: 80px;
    margin-left: 30px;
}

#tituloApresentacao {
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    color: white;
    width: 618px;
    height: 162px;
    line-height: 100px;
    text-align: center;
}